.card-ser{
    margin-bottom: 50px;
    img{
        width: 50px;
        margin-bottom: 30px;
    }
    p{
        font-size: 14px;
        font-weight: 500;
        color: var(--second--color);
    }
}